Test Automation homework 2022\[23\].pdf
ui-testing/pages/SearchPage.js
ui-testing/pages/SearchResultsPage.js
ui-testing/tests/workshop.spec.js
unit-testing/isRightTriangle.js
unit-testing/isRightTriangle.test.js
